In [300]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
%pwd
#%cd  06_Customer_Analysis_Case_Study/
%ls

06_Customer_Analysis_Case_Study.ipynb  Data/
06_Health_Care_For_All_Case_Study/     Lab_Customer_Analysis_Case_Study.md
Activities.md

In [301]:
file1=pd.read_csv("Data/file1.csv")
file2=pd.read_csv("Data/file2.csv")
file3=pd.read_csv("Data/file3.csv")
#file1
#file2
#file3

In [302]:
file1.dtypes

Customer                      object
ST                            object
GENDER                        object
Education                     object
Customer Lifetime Value       object
Income                       float64
Monthly Premium Auto         float64
Number of Open Complaints     object
Policy Type                   object
Vehicle Class                 object
Total Claim Amount           float64
dtype: object

In [303]:
df.describe()
#df.info()
df.shape
len(df)
#df.GENDER
type(df)
#type(df.GENDER)
#df.GENDER.value_counts()

pandas.core.frame.DataFrame

## Standardizing header names

In [304]:
#list all column headers
list(file1.columns) 
list(file2.columns)

['Customer',
 'ST',
 'GENDER',
 'Education',
 'Customer Lifetime Value',
 'Income',
 'Monthly Premium Auto',
 'Number of Open Complaints',
 'Total Claim Amount',
 'Policy Type',
 'Vehicle Class']

In [305]:

def standardize_headers(file):
    file = file.rename(columns={'ST':'state'}) # replace 'st' with 'state'
    #print(file.columns)
    headers = [] # make list of all headers, change them into lower case
    for col in file.columns:
        headers.append(col.lower().replace(" ", "_"))
    print(headers)
    file.columns = headers # replace data frame headers with lower-case list 
    return file

file1 = standardize_headers(file1)
file2 = standardize_headers(file2)
file3 = standardize_headers(file3)

print(file1.columns)

['customer', 'state', 'gender', 'education', 'customer_lifetime_value', 'income', 'monthly_premium_auto', 'number_of_open_complaints', 'policy_type', 'vehicle_class', 'total_claim_amount']
['customer', 'state', 'gender', 'education', 'customer_lifetime_value', 'income', 'monthly_premium_auto', 'number_of_open_complaints', 'total_claim_amount', 'policy_type', 'vehicle_class']
['customer', 'state', 'customer_lifetime_value', 'education', 'gender', 'income', 'monthly_premium_auto', 'number_of_open_complaints', 'policy_type', 'total_claim_amount', 'vehicle_class']
Index(['customer', 'state', 'gender', 'education', 'customer_lifetime_value',
       'income', 'monthly_premium_auto', 'number_of_open_complaints',
       'policy_type', 'vehicle_class', 'total_claim_amount'],
      dtype='object')

## Aggregate data into one Data Frame using Pandas

In [306]:
df=pd.concat([file1,file2,file3], axis=0)
df

,customer,state,gender,education,customer_lifetime_value,income,monthly_premium_auto,number_of_open_complaints,policy_type,vehicle_class,total_claim_amount
0,RB50392,Washington,NaN,Master,NaN,0.0,1000.0,1/0/00,Personal Auto,Four-Door Car,2.704934
1,QZ44356,Arizona,F,Bachelor,697953.59%,0.0,94.0,1/0/00,Personal Auto,Four-Door Car,1131.464935
2,AI49188,Nevada,F,Bachelor,1288743.17%,48767.0,108.0,1/0/00,Personal Auto,Two-Door Car,566.472247
3,WW63253,California,M,Bachelor,764586.18%,0.0,106.0,1/0/00,Corporate Auto,SUV,529.881344
4,GA49547,Washington,M,High School or Below,536307.65%,36357.0,68.0,1/0/00,Personal Auto,Four-Door Car,17.269323
...,...,...,...,...,...,...,...,...,...,...,...
7065,LA72316,California,M,Bachelor,23405.98798,71941.0,73.0,0,Personal Auto,Four-Door Car,198.234764
7066,PK87824,California,F,College,3096.511217,21604.0,79.0,0,Corporate Auto,Four-Door Car,379.200000
7067,TD14365,California,M,Bachelor,8163.890428,0.0,85.0,3,Corporate Auto,Four-Door Car,790.784983
7068,UP19263,California,M,College,7524.442436,21941.0,96.0,0,Personal Auto,Four-Door Car,691.200000
7069,Y167826,California,M,College,2611.836866,0.0,77.0,0,Corporate Auto,Two-Door Car,369.600000

## Deleting and rearranging columns – delete the column customer as it is only a unique identifier for each row of data

In [307]:
df = df.drop(['customer'], axis=1) #deletes the column 'customer'. axis=1 means axis=columns
df.head(20)

,state,gender,education,customer_lifetime_value,income,monthly_premium_auto,number_of_open_complaints,policy_type,vehicle_class,total_claim_amount
0,Washington,NaN,Master,NaN,0.0,1000.0,1/0/00,Personal Auto,Four-Door Car,2.704934
1,Arizona,F,Bachelor,697953.59%,0.0,94.0,1/0/00,Personal Auto,Four-Door Car,1131.464935
2,Nevada,F,Bachelor,1288743.17%,48767.0,108.0,1/0/00,Personal Auto,Two-Door Car,566.472247
3,California,M,Bachelor,764586.18%,0.0,106.0,1/0/00,Corporate Auto,SUV,529.881344
4,Washington,M,High School or Below,536307.65%,36357.0,68.0,1/0/00,Personal Auto,Four-Door Car,17.269323
5,Oregon,F,Bachelor,825629.78%,62902.0,69.0,1/0/00,Personal Auto,Two-Door Car,159.383042
6,Oregon,F,College,538089.86%,55350.0,67.0,1/0/00,Corporate Auto,Four-Door Car,321.600000
7,Arizona,M,Master,721610.03%,0.0,101.0,1/0/00,Corporate Auto,Four-Door Car,363.029680
8,Oregon,M,Bachelor,2412750.40%,14072.0,71.0,1/0/00,Corporate Auto,Four-Door Car,511.200000
9,Oregon,F,College,738817.81%,28812.0,93.0,1/0/00,Special Auto,Four-Door Car,425.527834
10,California,M,College,473899.20%,0.0,67.0,1/0/00,Personal Auto,Four-Door Car,482.400000
11,California,NaN,College,819719.71%,0.0,110.0,1/0/00,Personal Auto,SUV,528.000000
12,California,NaN,Master,879879.70%,77026.0,110.0,1/2/00,Corporate Auto,Four-Door Car,472.029737
13,Arizona,NaN,High School or Below,881901.89%,99845.0,110.0,1/1/00,Corporate Auto,SUV,528.000000
14,California,NaN,College,538443.17%,83689.0,70.0,1/2/00,Corporate Auto,Four-Door Car,307.139132
15,Oregon,NaN,Bachelor,746313.94%,24599.0,64.0,1/1/00,Corporate Auto,Four-Door Car,42.920271
16,Nevada,NaN,High School or Below,256686.78%,25049.0,67.0,1/0/00,Personal Auto,Two-Door Car,454.245098
17,Cali,NaN,College,394524.16%,28855.0,101.0,1/0/00,Personal Auto,SUV,647.442031
18,Oregon,NaN,College,571033.31%,51148.0,72.0,1/0/00,Personal Auto,Four-Door Car,308.981664
19,California,NaN,High School or Below,816261.71%,66140.0,101.0,1/0/00,Corporate Auto,Four-Door Car,484.800000

## Working with data types – Check the data types of all the columns and fix the incorrect ones (for ex. customer lifetime value and number of complaints )

In [311]:
#data['Gender'] = list(map(lambda x, y: x if x == x else y, data['Gender'],data['GENDER']))

#print(df.number_of_open_complaints)
print(df.customer_lifetime_value)

#df['number_of_open_complaints'] = df['number_of_open_complaints'].replace(['1/0/00','1/1/00','1/2/00','1/3/00','1/4/00','1/5/00'], [0,1,2,3,4,5])
df['customer_lifetime_value'].describe()
df['customer_lifetime_value'].info()
#df.customer_lifetime_value = df.customer_lifetime_value.str.replace("%", "")
#df.customer_lifetime_value

0              NaN
1        697953.59
2       1288743.17
3        764586.18
4        536307.65
           ...
7065           NaN
7066           NaN
7067           NaN
7068           NaN
7069           NaN
Name: customer_lifetime_value, Length: 12074, dtype: object

AttributeError: 'Series' object has no attribute 'info'

In [247]:
df['number_of_open_complaints'].value_counts(dropna=False)

0.0    7255
NaN    2937
1.0    1012
2.0     376
3.0     290
4.0     148
5.0      56
Name: number_of_open_complaints, dtype: int64

state                         object
gender                        object
education                     object
customer_lifetime_value       object
income                       float64
monthly_premium_auto         float64
number_of_open_complaints     object
policy_type                   object
vehicle_class                 object
total_claim_amount           float64
dtype: object

In [153]:
#+new_df =  pd.to_numeric(df['number of open complaints'], errors='coerce')
#hk_df['median_household_income'] =  pd.to_numeric(hk_df['median_household_income'], errors='coerce')
#hk_df['per_capita_income'] =  pd.to_numeric(hk_df['per_capita_income'], errors='coerce')
#print (new_df)
#hk_df['customer lifetime value'] = df['customer lifetime value'].astype('int')
#hk_df
new_df

0       NaN
1       NaN
2       NaN
3       NaN
4       NaN
       ...
7065    0.0
7066    0.0
7067    3.0
7068    0.0
7069    0.0
Name: number of open complaints, Length: 12074, dtype: float64

## Filtering data and Correcting typos – Filter the data in state and gender column to standardize the texts in those columns

In [ ]:
data['Gender'] = list(map(lambda x, y: x if x == x else y, data['Gender'],data['GENDER']))

## Removing duplicates

## Replacing null values – Replace missing values with means of the column (for numerical columns)